<div id="tabla1" class="card mb-4">
    <div class="card-header">
        <h5 class="m-4 text-center">Datos generales de pacientes</h5>
    </div>
    <div class="card-body">
        <table>
            <tbody>
                <tr>
                    <th>Edad</th>
                    <th>IMC</th>
                    <th>Presión sanguínea</th>
                    <th>Glucosa</th>
                    <th>Insulina</th>
                </tr>
                <tr *ngFor="let datum of data">
                    <td> {{  datum[ "Age" ]  }}  </td>
                    <td> {{  datum[ "BMI" ]  }}  </td>
                    <td> {{  datum[ "BloodPressure" ]  }} </td>
                    <td> {{  datum[ "Glucose" ]  }} </td>
                    <td> {{  datum[ "Insulin" ]  }} </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>