<div id="layoutSidenav_content">
  <main>
      <div class="container-fluid px-4">
          <h1 class="m-4 text-center">La Diabetes</h1>
          <h4 class="breadcrumb-item active text-center">Información y datos</h4>
          <!---Informacion 1 --->                      
          <app-informacion1></app-informacion1>
          <!---Tabla ---> 
          <app-tabla></app-tabla>
          <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <!---Grafico ---> 
                    <app-grafico></app-grafico>
                </div>
                <div class="col-md-6">
                    <!---Grafico 2 ---> 
                    <app-grafico2></app-grafico2>
                </div>
            </div>
          </div>
          <!---Informacion 2 ---> 
          <app-informacion2></app-informacion2> 
      </div>
  </main>
  <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Your Website 2023</div>
              <div>
                  <a href="#">Privacy Policy</a>
                  &middot;
                  <a href="#">Terms &amp; Conditions</a>
              </div>
          </div>
      </div>
  </footer>
</div>