<div id="informacion1" class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body"> {{ chart1.title }} </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <p> {{ chart1.content }} </p>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body"> {{ chart2.title }} </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <p> {{ chart2.content }} </p>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body"> {{chart3.title}} </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <p> {{chart3.content}} </p>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-info text-white mb-4">
            <div class="card-body"> {{chart4.title}} </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <p> {{chart4.content}} </p>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
